@font-face {
    font-family: 'Rye';
    src: url(fonts/BukhariScript-Regular.otf);


}
html{
    height: 5050px;
}
* {
    margin: 0px;
    padding: 0px;
color: #F1EDDA;
font-family: 'Rye';
}

body {
    background-size:cover;
    background-color: #6F6B76;
}


.nav a {
    font-family: 'Rye';
    height: fit-content;
    width: fit-content;
    font-size: 120%;
    text-decoration: none;
}

.nav a:hover {
   text-decoration: underline;
}
.button1 a:hover {
    text-decoration: underline;
 }


h1{
    color: #F1EDDA;
    font-size: 300%;
    font-family:'Rye';
    height: 15%;
}
 .intro-text p {
    background-color: transparent;
    font-size: 150%;
    height: 20%;
    font-weight: 400;
 }
.button1{
    height: 8%;
    width: 15%;
    border-radius: 50px;
    background-color: transparent;
    font-family: 'Rye';
    border: 2px solid #F1EDDA ;
    font-size: 100%;
}
.button1 a {
    text-decoration: none;
}

.contract p{
    height: fit-content;
    font-size: 120%;
    align-items: start;
    font-family:'Rye';
    font-weight: 300;

}

 h2 {
    font-size: 500%;
    font-family: 'Rye';
    text-align: center ;
 }
.button2{
    height: 30%;
    width: 20%;
    border-radius: 50px;
    background-color: transparent;
    font-family: 'Rye';
    border: 2px solid #F1EDDA ;
    font-size: 100%; 
}
.button2 a {
    text-decoration: none;
}

footer p, .madeby {
    width: fit-content;
    height: 100%;
}


@media only screen and (max-width: 1000px){
   
    body {
        height: 5050px;
    }

    header{
        height: 2.5%;
    }
    .pc{
        display: none;
    }
    
    .mobile-nav-big-container{
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 30%;
    }
    
    .logo{
        height: 100%;
        width: 27%;
        align-items: center;
    }
    .logoo{
        height: 100%;
        width: 100%;
    }
    
    .mobile-navbtn-container{
        height: 60%;
        width: 15%;
    }
    .mobile-navbtn{
        height: 100%;
        width: 100%;
    }
    .navigation{
        height: 3%;
        display: none;
        justify-content: center;
        align-items: center;

    }
    .nav-socials-container{
        display: flex;
        flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
        width: 50%;
    }
    .nav{
        height: 150%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
   
    .socials{
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20%;
    }
    .social{
        height: 100%;
        width: 25%;
    }
    .socialpicture {
        height: 100%;
        width: 100%;
    }
    
    .navbtn-container{
         display: none;
    }
    .nav-big-container{
        display: none;
    }
    .intro {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15.86%;
    
    }
    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .intro-text {
        display:flex;
        flex-direction: column;
       text-align: center;
       height:80%;
       width: 60%;
       justify-content: center;
    }

    
    .intro-photo{
        background-image: url(images/chihui-logo.png);
        background-size: 90% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
        width: 60%;
        height: 80%;
    }
    
    
    .contract{
        height: 4.35%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 22.84%;
        gap: 10%;
      }
    
     .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90%;
        width: 100%;
    }
    .about-text {
        background-image: url(images/chihui-abouttext.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
       height:100%;
       width: 60%;
       justify-content: center;
    }

    
    .about-photo{
        background-image: url(images/chihui-photo.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
        width: 60%;
        height: 100%;
    }

    
    .roadmap {
        height: 20.68%;
        display: flex;
        flex-direction: column;
       align-items: center;
       gap: 5%;
    }
    .map{
        width: 100%;
        height: 100%;
        background-image: url(images/chihui-roadmap.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .tokenomics{
        height: 19.8%;
        display: flex;
        flex-direction: column;
       align-items: center;
       gap: 10%;  
    }
    .tokenomics-img{
        width:70%;
        height: 60%;
        background-image: url(images/chihui-tokenomics.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% ;
    
    }
    
    .join{
        height: 5.94%;
    
    }
    .joinus{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer{
        height: 5%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
   
    .footer-text{
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .madeby{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tgg2{
        width: 10%;
    }
    .tg2{
        width: 65%;
        height: 80%;
    
    }
/* 
    body {
        height: 100%;
    }
    header{
        height: 3.96%;
        
    }
    .nav-big-container{
        height: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
        
    }
  
    .logo{
        height: 90%;
        width: 50%;
        display: flex;
        justify-content: center;
        background-color: palevioletred;
    }
    .logoo{
       height: 100%;
       width: 100%;
    }
    .navbtn-container{
        width: 20%;
        height: 90%;
        background-color: peru;
        display: block;
    }
    .navbtn{
        width: 100%;
        height: 100%;
    }
.mobilenav-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobilenav-box{
    width: 100%;
    text-align: center;
}

    .nav{
        display: none;
    }
    .socials{
        display: none;
    }
    /* 
    .nav{
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .socials{
        height: 66%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20%;
    }
    .tgg{
        height: 50%;
        width: 17%;
    }
    .tww{
        height: 55%;
        width: 17%;
    }
    .tg {
        height: 100%;
        width: 100%;
    }
    .tw{
        height: 100%;
        width: 100%;
    }
    
    
    .nav a:hover {
       text-decoration: underline;
    }
    .button1 a:hover {
        text-decoration: underline;
     }
    */
    
    
    
    
    
    
    
    
    /*
    .intro {
        height: 12.86%;

    }
    .intro-container {
    display: flex;
    flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .intro-text {

       height:50%;
       width: 90%;
 
    
    }
   
    .intro-photo{
        background-image: url(images/chapito-withbg.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
        width: 80%;
        height: 50%;
    }
    
    
    .contract{
        height: 1.35%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 7.84%;
        gap: 5%;
        width: 90%;
      }
    
    
     .about-container{
        height: 60%;
        width: 60%;
     }
    .book{
        height: 100%;
        width: 100%;
    }
    
    .roadmap {
        height: 11.68%;
        width: 100%;
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .map{
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    
    .tokenomics{
        height: 5.8%;
        display: flex;
        flex-direction: column;
       align-items: center;
       gap: 10%;  
    }
    .tokenomics-img{
        width:90%;
        height: 60%;
        background-size: 100%;
        background-position: 50% ;
    
    }
    
    .join{
        height: 3.94%;
    }
    .joinus{
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .join button{
        height: 50%;
        width: 50%;
        border:  solid black;
        border-radius: 50;
        background-color: transparent;
        font-family: 'Rye';
        font-size: 100%;
        padding: 0.5% 1%;
    }
    .pc-footer{
        display: none;
    }
    .mobile-footer {
        height: 2.96%;
        background-color: blueviolet;
    }
    */
}


@media only screen and (min-width: 1000px ){
    html{
        height: 5050px;
    }
   
   
    body {
        height: 5050px;
    }

    header{
        height: 1.96%;
        
    }
    .mobile{
        display: none;
    }
    .mobile-nav-big-container{
        display: none;
    }
    .nav-big-container{
        height: 100%;
        display: flex;
        justify-content: center  ;
        align-items: center;
        gap: 25%;
    }
    
    .logo{
        height: 100%;
        width: 13%;
        align-items: center;
    }
    .logoo{
        height: 100%;
        width: 100%;
    }
    
    .nav-socials-container{
        display: flex;
        flex-direction: row;
      justify-content: space-between;
      align-items: center;
        width: 50%;
    }
    .nav{
        height: 150%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
   
    .socials{
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20%;
    }
    .social{
        height: 100%;
        width: 25%;
    }
    .socialpicture {
        height: 100%;
        width: 100%;
    }
.navigation{
    display: none;
}
    .mobile-navbtn-container{
         display: none;
    }
    .intro {
        display:flex;
        justify-content: space-around;
        height: 15.86%;
    }
    .intro-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .intro-text {
        display:flex;
        flex-direction: column;
       text-align: center;
       height:80%;
       width: 40%;
       justify-content: center;
    }

    
    .intro-photo{
        background-image: url(images/chihui-logo.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
        width: 40%;
        height: 80%;
    }
    
    
    .contract{
        height: 4.35%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 22.84%;
        gap: 10%;
      }
    
     .about-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;
        width: 100%;
    }
    .about-text {
        background-image: url(images/chihui-abouttext.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
       height:100%;
       width: 40%;
       justify-content: center;
    }

    
    .about-photo{
        background-image: url(images/chihui-photo.png);
        background-size: 100% ;
        background-position: 50%;
        background-repeat: no-repeat;
        text-indent: -100000000000000%;
        width: 40%;
        height: 100%;
    }
    .book{
        height: 100%;
        width: 100%;
    }
    
    .roadmap {
        height: 31.68%;
        display: flex;
        flex-direction: column;
       align-items: center;
       gap: 5%;
    }
    .map{
        width: 80%;
        height: 90%;
        background-image: url(images/chihui-roadmap.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .tokenomics{
        height: 19.8%;
        display: flex;
        flex-direction: column;
       align-items: center;
       gap: 10%;  
    }
    .tokenomics-img{
        width:70%;
        height: 60%;
        background-image: url(images/chihui-tokenomics.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% ;
    
    }
    
    .join{
        height: 5.94%;
    
    }
    .joinus{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer{
        height: 5%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
   
    .footer-text{
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .madeby{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tgg2{
        width: 10%;
    }
    .tg2{
        width: 65%;
        height: 80%;
    
    }
}

@media only screen and (min-width: 1500px ){
    html, body{
        height: 6000px;
    }
    .nav{
        height: 150%;
    }
    .intro{
        height:15.86
    }
    .contract{
        height:4.35
    }
    .about{
        height:15.84
    }
    .roadmap{
        height:33.68
    }
    .tokenomics{
        height:19.8
    }
    .joinus{
        height:5.94;
      
    }
    .footer{
        height:1.96;
    }

}
