@font-face {
    font-family: 'Bukhari';
    src: url(fonts/BukhariScript-Regular.otf);
}
.container{
    font-family: 'Bukhari';
    padding: 0px;
    margin: 0px;
    display: grid;
    height: 5050px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 0.875fr 0.125fr 0.25fr 0.875fr 0.25fr 3fr 1.5fr 1.5fr;
    grid-template-areas: 
    "nav nav"
    "intro1 intro2"
    "contract contract"
    "division1 division1"
    "about about"
    "division2 division2"
    "roadmap roadmap"
    "tokenomics tokenomics"
    "footer footer";
    background-color: #D5C5C8;

}
nav{
    padding-left: 5%;
    padding-right: 5%;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo{
    width: 28%;
    height: 90%;
}
.logo-img{
    width: 100%;
    height: 90%;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60%;
}
.menubar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6%;
    width: 80%;
}
.menubar-item1{
    width: 15%;
    height: 70%;
}
.menubar-item2{
    width: 20%;
    height: 70%;
}
.menubar-item3{
    width: 25%;
    height: 70%;
}
.menubar-item4{
    width: 20%;
    height: 70%;
}
.item1-img{
    width: 90%;
    height: 80%;
}
.item2-img{
    width: 100%;
    height: 100%;
}
.item3-img{
    width: 100%;
    height: 90%;
}
.item4-img{
    width: 60%;
    height: 85%;
}
.nav-buybtn{
    width: 15%;
    height: 45%;

}
.nav-buybtn-img{
    width: 100%;
    height: 100%;
}
#intro1{
    margin-left: 20%;
    margin-top: 10%;
    grid-area: intro1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.intro-text{
width: 90%;
height: 50%;
background-image: url(images/intro-text.png);
background-size: 100%;
background-repeat: no-repeat;
}
.intro-buttons{
    width: 90%;
    height: 40%;
}
.intro-buttons-container{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    gap: 10%;
}
.intro-buybtn{
    height: 30%;
    width: 100%;  
}
.intro-buybtn-img{
    height: 100%;
    width: 40%;
}
.intro-jointgbtn{
    height: 35%;
    width: 100%;
}
.intro-jointgbtn-img{
    height: 100%;
    width: 50%;
}
#intro2{
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-top: 5%;
    grid-area: intro2;  
    display: flex;
}
.intro-photo{
    width: 70%;
    height: 90%;
    justify-content: center;
}
.intro-photo-img{
    width: 100%;
    height: 100%;
}
#contract{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: contract;
}
.contract-container{
    width: 20%;
    height: 60%;
}
.contract-img{
    width: 100%;
    height: 100%;
}
#division1{
    display: flex;
    align-items: center;
    grid-area: division1;
}
.division-container{
    width: 100%;
    height: 40%;
}
.division-img{
width: 100%;
height: 100%;
}

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: about;
}
.aboutphoto-container{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.aboutphoto-img{
    width: 60%;
    height: 100%;
}
.abouttext-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;

}
.abouttext-container{
    width: 100%;
    height: 100%;  
}
.abouttext-img{
    width: 100%;
    height: 100%;   
}
.aboutbtn-container{
    width: 10%;
    height: 7%;
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutbtn{
    width: 50%;
    height: 90%; 
}
.aboutleftbtn-img{
    width: 100%;
    height: 100%; 
}
.aboutrightbtn-img{
    width: 100%;
    height: 100%; 
}
#division2{
    display: flex;
    align-items: center;
    grid-area: division2;
}
#roadmap{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: roadmap;
}
.roadmap-container{
    width: 80%;
    height: 100%;
}
.roadmap-img{
    width: 100%;
    height: 100%;
}
#tokenomics{
    grid-area: tokenomics;
}
.tokenomics-container{
    width: 100%;
    height: 80%;   
    gap: 5%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tokenomics-title-container{
    width: 30%;
    height: 20%;
}   
.tokenomics-title-img{
    width: 100%;
    height: 90%;
}
.tokenomics-items-container{
    width: 90%;
    height: 75%;
    gap: 5%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
.t-item1, .t-item2, .t-item3, .t-item4, .t-item5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
}
.t-planet1, .t-planet2, .t-planet3, .t-planet4, .t-planet5{
}
.t-subtitle1, .t-subtitle2, .t-subtitle3, .t-subtitle4, .t-subtitle5{
}
.t-item1{
    width: 11%;
}
.t-planet1{
    width: 100%;
    height: 25%;
}
.planet1-img{
    width: 100%;
    height: 100%;
}
.t-subtitle1{
    width: 45%;
    height: 7%;
}
.subtitle1-img{
    width: 100%;
    height: 100%;
}
.t-item2{
    width: 20%;
}
.t-planet2{
    width: 85%;
    height: 40%;
}
.planet2-img{
    width: 100%;
    height: 100%;
}
.t-subtitle2{
    width: 90%;
    height: 10%;
}
.subtitle2-img{
    width: 100%;
    height: 100%;
}
.t-item3{
    width: 20%;
}
.t-planet3{
    width: 100%;
    height: 45%;
}
.planet3-img{
    width: 100%;
    height: 100%;
}
.t-subtitle3{
    width: 90%;
    height: 20%;
}
.subtitle3-img{
    width: 100%;
    height: 100%;
}
.t-item4{
    width: 14.5%;
}
.t-planet4{
    width: 75%;
    height: 25%;
}
.planet4-img{
    width: 100%;
    height: 100%;
}
.t-subtitle4{
    width: 100%;
    height: 8%;
}
.subtitle4-img{
    width: 100%;
    height: 100%;
}
.t-item5{
    width: 34.5%;
}
.t-planet5{
    width: 100%;
    height: 80%;
}
.planet5-img{
    width: 100%;
    height: 100%;
}
.t-subtitle5{
    width: 50%;
    height: 15%;
}
.subtitle5-img{
    width: 100%;
    height: 100%;
}

#footer{
    grid-area: footer;
background-color: purple;
}

@media only screen and (max-width:1000px){ 
.container{
    display: grid;
    height: 3036px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.875fr 0.125fr 1fr 0.25fr 1fr 1fr 0.25fr 2fr 1fr 0.5fr;
    grid-template-areas: 
    "nav"
    "intro1"
    "contract" 
    "intro2"
    "division1" 
    "about1" 
    "about2"
    "division2"
    "roadmap"
    "tokenomics"
    "footer"
    ;

}
nav{
    grid-area: nav;
background-color: palegoldenrod;
}
#intro1{
    grid-area: intro1;
background-color: paleturquoise;
}
#intro2{
    grid-area: intro2;
background-color: palevioletred;
}
#division1{
    grid-area: division1;
background-color: peachpuff;
}
#about1{
    grid-area: about1;
background-color: peru;
}
#about2{
    grid-area: about2;
background-color: pink;
}
#division2{
    grid-area: division2;
background-color: plum;
}
#roadmap{
    grid-area: roadmap;
background-color:powderblue ;
}
#tokenomics{
    grid-area: tokenomics;
background-color: blueviolet;
}
#footer{
    grid-area: footer;
background-color: purple;
}
}
